.ilkparca{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 860px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(arkaplan.jpg);
    background-size: cover;
}
.basyazi{
    color: white;
    font-weight: 700;
    margin-top: -350px;
    letter-spacing: 10px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    font-size: 55px;
    border-bottom: 4px solid blue;
    font-family: 'Futura Primer', sans-serif;
    padding: 10px;
}
.arayazi{
    position: absolute;
    margin-top: -190px;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    text-shadow: -5px 4px 9px rgba(0,0,0,0.6);
    font-family: 'KG HAPPY Solid', sans-serif;
}
#anabuton{
    margin-left: -405px;
    margin-top: -40px;
    width: 200px;
    height: 75px;
    font-size: 21px;
    font-family: 'Futura Primer', sans-serif;
    position: absolute;
}

@media screen and (max-width:1226px) {
    .ilkparca{
        margin-top: -100px;
    }
    .basyazi{
        font-size: 52px;
    }
    .arayazi{
        font-size: 38px;
    }
    #anabuton{
        margin-left: -390px;
        height: 70px;
    }
}
@media screen and (max-width:1140px) {
    .basyazi{
        font-size: 48px;
    }
    .arayazi{
        font-size: 35px;
    }
    #anabuton{
        margin-left: -375px;
        height: 65px;
    }
    
}

@media screen and (max-width:1052px) {
    .basyazi{
        font-size: 45px;
    }
    .arayazi{
        font-size: 32px;
    }
    #anabuton{
        margin-left: -360px;
        height: 60px;
    }
    
}

@media screen and (max-width:975px) {
    .basyazi{
        font-size: 42px;
    }
    .arayazi{
        font-size: 29px;
    }
    #anabuton{
        margin-left: -345px;
        height: 55px;
    }
}
@media screen and (max-width:900px) {
    .basyazi{
        font-size: 39px;
    }
    .arayazi{
        font-size: 28px;
    }
    #anabuton{
        margin-left: -330px;
        height: 50px;
    }
}
@media screen and (max-width:861px) {
    .basyazi{
        font-size: 36px;
    }
    .arayazi{
        font-size: 26px;
    }
    #anabuton{
        margin-left: -320px;
        height: 50px;
    }
}
@media screen and (max-width:802px) {
    .basyazi{
        font-size: 36px;
        letter-spacing: 7px;
    }
    .arayazi{
        font-size: 24px;
        margin-top: -215px;
    }
    #anabuton{
        margin-left: -302px;
        height: 50px;
        margin-top: -60px;
    }
}
@media screen and (max-width:747px) {
    .basyazi{
        font-size: 36px;
        letter-spacing: 5px;
    }
    .arayazi{
        letter-spacing: 1px;
    }
    #anabuton{
        margin-left: -290px;
        height: 50px;
        margin-top: -60px;
    }
}
@media screen and (max-width:700px) {
    .arayazi{
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: -215px;
    }
    .basyazi{
        font-size: 33px;
    }
    #anabuton{
        margin-left: -277px;
    }
}
@media screen and (max-width:638px) {
    .arayazi{
        font-size: 22px;
        letter-spacing: 1px;
        margin-top: -180px;
    }
    .basyazi{
        font-size: 33px;
    }
    #anabuton{
        margin-left: -277px;
        margin-top: -30px;
    }
}
@media screen and (max-width:356px) {
    .arayazi{
        font-size: 20px;
        letter-spacing: 1px;
        margin-top: -180px;
    }
    .basyazi{
        font-size: 29px;
        letter-spacing: 3px;
    }
    #anabuton{
        margin-left: -245px;
        margin-top: -30px;
        height: 40px;
        font-size: 20px;
    }
}
@media screen and (max-width:300px) {
    .ilkparca{
        margin-top: -150px;
    }
    .arayazi{
        font-size: 18px;
        letter-spacing: 1px;
        margin-top: -210px;
    }
    .basyazi{
        font-size: 26px;
        letter-spacing: 2px;
    }
    #anabuton{
        margin-left: -227px;
        margin-top: -55px;
        height: 40px;
        font-size: 18px;
    }
}
@media screen and (max-width:280px) {
    .arayazi{
        font-size: 16px;
    }
    .basyazi{
        font-size: 24px;
    }
    #anabuton{
        height: 35px;
        margin-left: -222px;
        font-size: 17px;
    }
}
@media screen and (max-width:248px) {
    .ilkparca{
        margin-top: -170px;
    }
    .arayazi{
        font-size: 15px;
        margin-top: -220px;
    }
    .basyazi{
        font-size: 22px;
        letter-spacing: 2px;
    }
    #anabuton{
        margin-left: -212px;
        margin-top: -65px;
    }
}
@media screen and (max-width:235px) {
    .arayazi{
        font-size: 14px;
        margin-top: -230px;
    }
    .basyazi{
        font-size: 20px;
        letter-spacing: 2px;
    }
    #anabuton{
        margin-left: -204px;
        font-size: 14px;
        margin-top: -75px;
    }
}
@media screen and (max-width:224px) {
    .arayazi{
        font-size: 13px;
        margin-top: -240px;
    }
    .basyazi{
        font-size: 19px;
        letter-spacing: 2px;
    }
    #anabuton{
        margin-left: -200px;
        font-size: 11px;
        margin-top: -85px;
    }
}














