.ilkparca{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 860px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(arkaplan.jpg);
    background-size: cover;
}
.basyazi{
    color: white;
    font-weight: 700;
    margin-top: -350px;
    letter-spacing: 10px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    font-size: 55px;
    border-bottom: 4px solid blue;
    font-family: 'Futura Primer', sans-serif;
    padding: 10px;
}
.arayazi{
    position: absolute;
    margin-top: -190px;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    text-shadow: -5px 4px 9px rgba(0,0,0,0.6);
    font-family: 'KG HAPPY Solid', sans-serif;
}
#anabuton{
    margin-left: -405px;
    margin-top: -40px;
    width: 200px;
    height: 75px;
    font-size: 21px;
    font-family: 'Futura Primer', sans-serif;
    position: absolute;
}



