.ilkparca{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 860px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(arkaplan.jpg);
    background-size: cover;
}
.basyazi{
    color: white;
    font-weight: 700;
    margin-top: -350px;
    letter-spacing: 10px;
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
    font-size: 55px;
    border-bottom: 4px solid blue;
    font-family: 'Futura Primer', sans-serif;
    padding: 10px;
}
.arayazi{
    position: absolute;
    margin-top: -190px;
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    text-shadow: -5px 4px 9px rgba(0,0,0,0.6);
    font-family: 'KG HAPPY Solid', sans-serif;
}
#anabuton{
    margin-left: -405px;
    margin-top: -40px;
    width: 200px;
    height: 75px;
    font-size: 21px;
    font-family: 'Futura Primer', sans-serif;
    position: absolute;
}

@media screen and (max-width:1226px) {
    .basyazi{
        font-size: 52px;
    }
    .arayazi{
        font-size: 38px;
    }
    #anabuton{
        margin-left: -390px;
        height: 70px;
    }
}
@media screen and (max-width:1140px) {
    .basyazi{
        font-size: 48px;
    }
    .arayazi{
        font-size: 35px;
    }
    #anabuton{
        margin-left: -375px;
        height: 65px;
    }
    
}

@media screen and (max-width:1052px) {
    .basyazi{
        font-size: 45px;
    }
    .arayazi{
        font-size: 32px;
    }
    #anabuton{
        margin-left: -360px;
        height: 60px;
    }
    
}

@media screen and (max-width:975px) {
    .basyazi{
        font-size: 42px;
    }
    .arayazi{
        font-size: 29px;
    }
    #anabuton{
        margin-left: -345px;
        height: 55px;
    }
}
@media screen and (max-width:900px) {
    .basyazi{
        font-size: 39px;
    }
    .arayazi{
        font-size: 28px;
    }
    #anabuton{
        margin-left: -330px;
        height: 50px;
    }
}
@media screen and (max-width:861px) {
    .basyazi{
        font-size: 36px;
    }
    .arayazi{
        font-size: 26px;
    }
    #anabuton{
        margin-left: -330px;
        height: 50px;
    }
}
@media screen and (max-width:810px) {
    .basyazi{
        font-size: 34px;
    }
    .arayazi{
        font-size: 24px;
    }
    #anabuton{
        margin-left: -315px;
        height: 45px;
    }
}
@media screen and (max-width:760px) {
    .basyazi{
        font-size: 32px;
    }
    .arayazi{
        font-size: 24px;
    }
    #anabuton{
        margin-left: -300px;
        height: 45px;
    }
}
@media screen and (max-width:600px) {
    .basyazi{
        font-size: 30px;
    }
    .arayazi{
        font-size: 22px;
    }
    #anabuton{
        margin-left: -295px;
        height: 45px;
    }
}
@media screen and (max-width:424px) {
    .basyazi{
        font-size: 30px;
    }
    .arayazi{
        font-size: 22px;
    }
    #anabuton{
        height: 45px;
    }
}
@media screen and (max-width:400px) {
    .basyazi{
        font-size: 28px;
    }
    .arayazi{
        font-size: 20px;
    }
    #anabuton{
        height: 45px;
        margin-left: -290px;
    }
}
@media screen and (max-width:380px) {
    .basyazi{
        font-size: 27px;
    }
    #anabuton{
        height: 45px;
        margin-left: -285px;
    }
}
@media screen and (max-width:356px) {
    .basyazi{
        font-size: 24px;
    }
    #anabuton{
        height: 45px;
        font-size: 19px;
        margin-left: -275px;
    }
}
@media screen and (max-width:340px) {
    .basyazi{
        font-size: 23px;
    }
    .arayazi{
        font-size: 18px;
    }
    #anabuton{
        height: 45px;
        font-size: 17px;
        margin-left: -270px;
    }
}
@media screen and (max-width:340px) {
    .basyazi{
        font-size: 20px;
    }
    .arayazi{
        font-size: 17px;
        margin-top: -215px;
    }
    #anabuton{
        height: 45px;
        font-size: 14px;
        margin-left: -254px;
        margin-top: -60px;
    }
}
@media screen and (max-width:310px) {
    .basyazi{
        font-size: 19px;
    }
    .arayazi{
        font-size: 15px;
        margin-top: -225px;
    }
    #anabuton{
        height: 45px;
        font-size: 14px;
        margin-left: -248px;
        margin-top: -70px;
    }
}
@media screen and (max-width:290px) {
    .basyazi{
        font-size: 17px;
    }
    .arayazi{
        font-size: 13px;
        margin-top: -245px;
    }
    #anabuton{
        height: 45px;
        font-size: 12px;
        width: 175px;
        margin-left: -233px;
        margin-top: -80px;
    }
}














