@import url('https://fonts.cdnfonts.com/css/lcd');
body{
  background-color: #222222;
  background: url(oyunarkaplan.png);
  background-size: cover;
}
.sorucontainer{
  margin: 20px 35px 0 35px;
  position: relative;
  border: none;
  height: 320px;
  border-radius: 40px;
  background: rgb(73,16,139);
  background: -moz-radial-gradient(circle, rgba(73,16,139,1) 0%, rgba(73,16,139,1) 0%, rgba(226,110,229,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(73,16,139,1) 0%, rgba(73,16,139,1) 0%, rgba(226,110,229,1) 100%);
  background: radial-gradient(circle, rgba(73,16,139,1) 0%, rgba(73,16,139,1) 0%, rgba(226,110,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#49108b",endColorstr="#e26ee5",GradientType=1);
  filter: brightness(95%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
}
.sorucontainer:hover{
  filter: brightness(100%);
}
.soru{
  color: white;
  font-size: 46px;
}
.secenekcontainers{
  display: flex;
  flex-wrap: wrap;
  padding: 35px;
  gap: 8px;
}
.secenekler{
  width: 50%;
  height: 205px;
  flex:1;
  max-width: 50%;
  min-width: calc(50% - 16px);
  border-radius: 100px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 40px;
  filter: brightness(95%);
  transition: 0.5s;
  background-color: #49108B;
}
.secenekler:hover{
  filter: brightness(105%);
}
.correct{
  background-color: #05ad2c;
}
.incorrect{
  background-color: #CA090F;
}
span{
  text-shadow: -5px 4px 9px rgba(0,0,0,0.6);
}
u{
  text-decoration: 4px underline red;
}
h3{
  color: white;
  font-size: 50px;
}

.progressbaslik{
  z-index: 1;
  position: absolute;
  font-size: 25px;
  margin-top: 2px;
  color: white;
  text-shadow: 13px 4px 5px rgba(0,0,0,0.6);
  margin-left: 44%;
} 

.ilerlemeBari{
  height: 40px; 
  width: 100%; 
  background-color: #000;
  border: 3px solid brown; 
  border-radius: 15px; 
  color: white; 
  display: flex; 
  position: relative; 
}

.oyunsecenek{
  border-radius: 50%;
  cursor: pointer;
  font-size: 34px;
  width: 80px;
  border: none;
  filter: brightness(93%);
  transition: 0.5s;
  color: white;
  background: linear-gradient(219.3deg, rgb(149, 0, 199) 4.7%, rgb(130, 0, 226) 22.9%, rgb(95, 0, 199) 43.2%, rgb(70, 0, 199) 63.9%, rgb(5, 0, 199) 85.1%, rgb(0, 95, 199) 106.8%);
  text-align: center;
}
.cikisbuton{
  border-radius: 20px;
  font-size: 25px;
  color: white;
  text-shadow: -4px 7px 10px rgba(0,0,0,0.6);
  border: none;
  filter: brightness(95%);
  transition: 0.5s;
  background: linear-gradient(219.3deg, rgb(149, 0, 199) 4.7%, rgb(130, 0, 226) 22.9%, rgb(95, 0, 199) 43.2%, rgb(70, 0, 199) 63.9%, rgb(5, 0, 199) 85.1%, rgb(0, 95, 199) 106.8%);
  max-width: 200px;
  padding: 0 25px 0 25px;
}
.cikisbuton:hover{
  filter: brightness(100%);
  
}
.oyunsecenek:hover{
  filter: brightness(100%);
}
.coinimg{
  display: inline-block;
  width: 55px;
  margin-right: 10px;
}
.bottomSection .right h2{
  display: inline;
  color: white;
  margin-top: 5px;
}
.sayac{
  border: 3px solid brown;
  height: 70px;
  border-radius: 20px;
  background-color: black;
  display: flex;
  min-width: fit-content;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin: 0 560px 0 560px; /*YUKARI SAĞ AŞAĞI SOL  SAAT YÖNÜ*/
}
.sayac h2{
  font-size: 50px;
  font-family: 'LCDMono2', sans-serif;
  color: white;
  margin-top: 6px;
  text-align: center;
}
.yanlisGosterge{
  margin-top: -70px;
}
#yapamadiginSorularaBak{
  width: 340px;
  position: absolute;
  margin-top: 255px;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-shadow: -2px 24px 73px -12px rgba(0,0,0,0.84);
  -moz-box-shadow: -2px 24px 73px -12px rgba(0,0,0,0.84);
  box-shadow: -2px 24px 73px -12px rgba(0,0,0,0.84);
}
.bottomSection{
  display: flex;
  flex-wrap: nowrap;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:1400px) {
  .bottomSection{
    flex-direction: column;
  }
}