@import url('https://fonts.cdnfonts.com/css/sf-pixelate');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: none;
    background-color: #000;
}
.navbar2{
    width: 100%;
    height: 85px;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    font-family: 'SF Pro Display', sans-serif;    
    padding-top: 25px;    
    border-bottom: 1px solid rgb(90, 89, 89);                               
}
.navbar2 ul li{ 
    display: inline;
    margin-left: 15px;
    font-size: 24px;    
    margin-right: 20px;
    letter-spacing: 1px;
    padding: 10px;
}
.navbar2 button{
    background: none;
    color: white;
    margin: 15px;
    border: none;
    margin-top: 0px;
    transition: transform 0.4s ease;
}
.navbar2 button:hover{
    transform: translateY(-3px);
    border-bottom: 3px solid rgb(40, 233, 6);
}
.soruornegidiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.soruornegi{
    width: 900px;
    height: 45px;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 15px;
    color: white;
    border-radius: 10px;
    transition: height 0.4s ease;
    cursor: default;
}
.soruornegi h2{
    font-size: 33px;
    margin-top: -12px;
}
.soruornegi i{
    font-size: 65px;
    margin-top: -26px;
}
.soruornegi:hover{
    color: white;
    height: 750px;
    background-color: black;
}
p{
    display: none;
}
.soruornegidiv .soruornegi li{
    display: none;
}

.soruornegi h2{
    display: inline;
    margin-left: -775px;
}
.soruornegi:hover p{    
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    height: 350px;
    width: 870px;
    border-radius: 40px;
    background: rgb(73,16,139);
    background: -moz-radial-gradient(circle, rgba(73,16,139,1) 0%, rgba(73,16,139,1) 0%, rgba(226,110,229,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(73,16,139,1) 0%, rgba(73,16,139,1) 0%, rgba(226,110,229,1) 100%);
    background: radial-gradient(circle, rgba(73,16,139,1) 0%, rgba(73,16,139,1) 0%, rgba(226,110,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#49108b",endColorstr="#e26ee5",GradientType=1);
    filter: brightness(95%);    
    border: none;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

.secenekler2{
    display: none;
    width: 400px;
    padding: 10px;
    height: 100px;
    border-radius: 100px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 28px;
    filter: brightness(95%);
    transition: 0.5s;
    background-color: #49108B;
}
.soruornegi:hover .secenekler2{
    display: block;
    margin: 30px;
}
.seceneklercontainer{   
    position: absolute;
    display: inline-block;
    margin-top: 400px;
}

.secenekcontainer1{
    display: flex;
    margin: 0;
}

.secenekcontainer2{
    display: flex;
    margin: 0;
}

.correct{
    background-color: green;
}
.incorrect{
    background-color: red;
}
.skipped{
    background-color: yellow;
    color: black;
}

.info{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    color: white;
}
.renkyesil{
    width: 50px;
    height: 30px;
    background-color: green;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
}
.renkkirmizi{
    width: 50px;
    height: 30px;
    background-color: red;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
}
.renksari{
    width: 50px;
    height: 30px;
    background-color: yellow;
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
}
.renkler{
    margin-top: 75px;
    position: absolute;
}
.icerik1{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    margin-top: -50px;
    background-color: black;
    height: 330px;
    width: 100%;
    color: white;
}
.soru-listesi{
    display: none;
}
h3{
    margin-left: 10px;
    margin-top: -1px;
}
h1{
    display: block;
    font-size: 59px;
    font-family: 'FX Logo', sans-serif;
    color: greenyellow;
    letter-spacing: 5px;
    position: absolute;
}

.soru-listesi-on{
    display: block;
}
.renk{
    display: flex;
    margin-top: 20px;
}

.icerik2{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    margin-top: 280px;
    background-color: black;
    position: absolute;
    height: 430px;
    width: 100%;
    color: white;
}

.icerik3{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    margin-top: 600px;
    background-color: black;
    position: absolute;
    height: 430px;
    width: 100%;
    color: white;
}

.icerik3h2{
    color: white;
}

.puanGorButon{
    display: block;
    height: 50px;
    border-radius: 15px;
    background-color: red;
    color: white;
    font-size: 25px;
    width: 400px;
    position: absolute;
    margin-top: 100px;
    border: none;
}


.gizemliKutuImg{
    width: 180px;
    height: 180px;
    margin-top: 200px;
    border: none;
    position: absolute;
    
}

#toplampuanh2{
    position: absolute;
    margin-top: 210px;
    font-size: 65px;
    font-family: 'SF Pixelate', sans-serif;
    text-shadow:
      0 0 19px #fff,
      0 0 30px rgb(14, 207, 78),
      0 0 40px  rgb(14, 207, 78),
      0 0 60px  rgb(14, 207, 78),
      0 0 90px  rgb(14, 207, 78),
      0 0 120px  rgb(14, 207, 78);
}

